
.dir--div{
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; */
  background-color: rgb(209, 183, 233);
}

/* :dir(ltr) {
 background-color: yellow;
}

:dir(rtl) {
  color: rgb(60, 162, 175);
} */


