
header{
  background-color: var(--green-400);
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.title{
 padding: 5px;
}
.title h1{
  font-family: var(--font-secondary);
}